/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.archive {
  margin-top: 0.5em;
  margin-bottom: 1em;

  @include breakpoint($large) {
    float: inline-end;
    width: calc(100%);
    //padding-inline-end: $right-sidebar-width-narrow;
  }

  @include breakpoint($x-large) {
    width: calc(100%);
    //padding-inline-end: $right-sidebar-width;
  }
}

.archive__item {
  position: relative;

  a {
    position: relative;
    z-index: 10;
  }

  a[rel="permalink"] {
    position: static;
    text-decoration-line: none; //홈화면 텍스트 밑줄 삭제
  }
}

.archive__subtitle {
  margin: 1.414em 0 0.5em;
  padding-bottom: 0.5em;
  font-size: $type-size-5;
  color: $muted-text-color;
  border-bottom: 1px solid $border-color;

  + .list__item .archive__item-title {
    margin-top: 0.5em;
  }
}

.archive__item-title {
  margin-bottom: 0em;
  font-family: $sans-serif-narrow;
  line-height: initial;
  overflow: hidden;
  text-overflow: ellipsis;

  a[rel="permalink"]::before {
    content: '';
    position: absolute;
    inset: 0;
  }

  a + a {
    opacity: 0.5;
  }
}

/* 커스텀 스타일*/

.archive-title,
.archive-title0,
.archive-title1,
.archive-title2,
.archive-title3,
.archive-title4,
.archive-title5 {
  font-size: 32px;
  font-weight: 700;
  max-width: 100%;
  word-break: keep-all;
  display: inline-flex;
  align-items: center;
  padding-bottom: 0px;
  line-height: 120%;
}ㄴ

.archive-subtext,
.archive-subtext0,
.archive-subtext1,
.archive-subtext2,
.archive-subtext3,
.archive-subtext4,
.archive-subtext5 {
  font-size: 14px;
  font-weight: 400;
  max-width: 100%;
  word-break: keep-all;
  display: inline-flex;
  align-items: center;
  padding-bottom: 1px;
  line-height: 140%;
}

.archive-title0,
.archive-title0:visited,
.archive-title0:hover,
.archive-subtext0,
.archive-subtext0:visited,
.archive-subtext0:hover {
  color: #3ABD82 !important;
}

.archive-title1,
.archive-title1:visited,
.archive-title1:hover,
.archive-subtext1,
.archive-subtext1:visited,
.archive-subtext1:hover {
  color: #2B84AA !important;
}
.archive-title2,
.archive-title2:visited,
.archive-title2:hover,
.archive-subtext2,
.archive-subtext2:visited,
.archive-subtext2:hover {
  color: #F24F1B !important;
}

.archive-title3,
.archive-title3:visited,
.archive-title3:hover,
.archive-subtext3,
.archive-subtext3:visited,
.archive-subtext3:hover{
  color: #C5A103 !important;
}

.archive-title4,
.archive-title4:visited,
.archive-title4:hover,
.archive-subtext4,
.archive-subtext4:visited,
.archive-subtext4:hover{
  color: #00B4FF !important;
}

.archive-title5,
.archive-title5:visited,
.archive-title5:hover,
.archive-subtext5,
.archive-subtext5:visited,
.archive-subtext5:hover{
  color: #A20EAF !important;
}


.single__item {
  margin-bottom: 0em;
}


/* remove border*/
.page__content {
  .archive__item-title {
    margin-top: 1em;
    border-bottom: none;
  }
}

.archive__item-excerpt {
  margin-top: 0;
  font-size: $type-size-5;

  & + p {
    text-indent: 0;
  }

  a {
    position: relative;
  }
}

.archive__item-teaser {
  position: relative;
  border-radius: $border-radius;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.archive__item-caption {
  position: absolute;
  bottom: 0;
  inset-inline-end: 0;
  margin: 0 auto;
  padding: 2px 5px;
  color: #fff;
  font-family: $caption-font-family;
  font-size: $type-size-8;
  background: #000;
  text-align: end;
  z-index: 5;
  opacity: 0.5;
  border-radius: $border-radius 0 0 0;

  @include breakpoint($large) {
    padding: 5px 10px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

/*
   List view
   ========================================================================== */

.list__item {
  .page__meta {
    margin: 0 0 4px;
    font-size: 0.6em;
  }
}

/*
   Grid view
   ========================================================================== */

.archive {
  .grid__wrapper {
    /* extend grid elements to the right */

    @include breakpoint($large) {
      margin-inline-end: -1 * $right-sidebar-width-narrow;
    }

    @include breakpoint($x-large) {
      margin-inline-end: -1 * $right-sidebar-width;
    }
  }
}

.grid__item {
  margin-bottom: 2em;

  @include breakpoint($small) {
    float: inline-start;
    width: span(5 of 10);

    &:nth-child(2n + 1) {
      clear: both;
      margin-inline-start: 0;
    }

    &:nth-child(2n + 2) {
      clear: none;
      margin-inline-start: gutter(of 10);
    }
  }

  @include breakpoint($medium) {
    margin-inline: 0; /* override margin*/
    width: span(6 of 12);

    &:nth-child(2n + 1) {
      clear: both;
    }

    &:nth-child(2n + 2) {
      clear: none;
      margin-inline-start: gutter(1 of 12);
    }
    
    // &:nth-child(4n + 1) {
    //   clear: both;
    // }

    // &:nth-child(4n + 2) {
    //   clear: none;
    //   margin-inline-start: gutter(1 of 12);
    // }

    // &:nth-child(4n + 3) {
    //   clear: none;
    //   margin-inline-start: gutter(1 of 12);
    // }

    // &:nth-child(4n + 4) {
    //   clear: none;
    //   margin-inline-start: gutter(1 of 12);
    // }
  }


  .page__meta {
    margin: 0 0 4px;
    font-size: 0.6em;
  }

  .page__meta-sep {
    display: block;

    &::before {
      display: none;
    }
  }

  .archive__item-title {
    margin-top: 0.8em;
    font-size: 1.15em;
  }

  .archive__item-excerpt {
    // display: none;

    @include breakpoint($small) {
      // display: block;
      font-size: $type-size-5;
    }

    @include breakpoint($medium) {
      // display: block;
      font-size: $type-size-5;
    }
  }

  .archive__item-teaser {
    @include breakpoint($small) {
      max-height: 100%;
    }

    @include breakpoint($medium) {
      max-height: 100%;
    }
  }
}

/*
   Features
   ========================================================================== */

.feature__wrapper {
  @include clearfix();
  margin-bottom: 2em;
  border-bottom: 1px solid $border-color;

  .archive__item-title {
    margin-bottom: 0;
  }
}

.feature__item {
  position: relative;
  margin-bottom: 2em;
  font-size: 1.125em;

  @include breakpoint($small) {
    float: inline-start;
    margin-bottom: 0;
    width: span(4 of 12);

    &:nth-child(3n + 1) {
      clear: both;
      margin-inline-start: 0;
    }

    &:nth-child(3n + 2) {
      clear: none;
      margin-inline-start: gutter(of 12);
    }

    &:nth-child(3n + 3) {
      clear: none;
      margin-inline-start: gutter(of 12);
    }

    .feature__item-teaser {
      max-height: 200px;
      overflow: hidden;
    }
  }

  .archive__item-body {
    padding-inline: gutter(1 of 12);
  }

  a.btn::before {
    content: '';
    position: absolute;
    inset: 0;
  }

  &--left, &--right {
    position: relative;
    margin-inline: 0;
    width: 100%;
    clear: both;
    font-size: 1.125em;

    a.btn::before {
      content: '';
      position: absolute;
      inset: 0;
    }

    .archive__item-teaser {
      margin-bottom: 2em;
    }
  }

  &--left {
    float: inline-start;

    .archive__item {
      float: inline-start;
    }

    @include breakpoint($small) {
      .archive__item-teaser {
        float: inline-start;
        width: span(5 of 12);
      }

      .archive__item-body {
        float: inline-end;
        width: span(7 of 12);
        padding-inline-start: gutter(0.5 of 12);
        padding-inline-end: gutter(1 of 12);
      }
    }
  }

  &--right {
    float: inline-end;

    .archive__item {
      float: inline-end;
    }

    @include breakpoint($small) {
      text-align: end;

      .archive__item-teaser {
        float: inline-end;
        width: span(5 of 12);
      }

      .archive__item-body {
        float: inline-start;
        width: span(7 of 12);
        padding-inline-start: gutter(1 of 12);
        padding-inline-end: gutter(0.5 of 12);
      }
    }
  }

  &--center {
    position: relative;
    float: inline-start;
    margin-inline: 0;
    width: 100%;
    clear: both;
    font-size: 1.125em;

    .archive__item {
      float: inline-start;
      width: 100%;
    }

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    a.btn::before {
      content: '';
      position: absolute;
      inset: 0;
    }

    @include breakpoint($small) {
      text-align: center;

      .archive__item-teaser {
        margin: 0 auto;
        width: span(5 of 12);
      }

      .archive__item-body {
        margin: 0 auto;
        width: span(7 of 12);
      }
    }
  }
}

/* Place inside an archive layout */

.archive {
  .feature__wrapper {
    .archive__item-title {
      margin-top: 0.25em;
      font-size: 1em;
    }
  }

  .feature__item,
  .feature__item--left,
  .feature__item--center,
  .feature__item--right {
    font-size: 1em;
  }
}

/*
   Wide Pages
   ========================================================================== */

.wide {
  .archive {
    @include breakpoint($large) {
      padding-inline-end: 0;
    }

    @include breakpoint($x-large) {
      padding-inline-end: 0;
    }
  }
}

/* Place inside a single layout */

.layout--single {
	.feature__wrapper {
		display: inline-block;
	}
}
